#friends-list{
    padding: 0 2rem;
    background: var(--background3);
}
#direct-messages-parent{
    width: 100%;
    height: 100%;
    flex-grow: 0;
    display: grid;
    grid-template-columns: auto 1fr;
}
.friends-list .all-friends, .friends-list .pending-friends, .friends-list .add-friends{
    background-color: #00000000;
    opacity: 0.8;
}
.friends-list .all-friends:hover, .friends-list .pending-friends:hover, .friends-list .add-friends:hover{
    background-color: var(--background3);
    opacity: 0.9;
}
.friends-list .all-friends:active, .friends-list .pending-friends:active, .friends-list .add-friends:active{
    background: #98979e78;
    opacity: 1;
}
.friend-list-main-parent{
    width: 100%;
    background-color: var(--background4);
    border-radius: 0.4rem;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
}
.friend-list-channel-box-parent{
    display: grid;
    grid-template-columns: auto 1fr;
    width: 13rem;
    place-content: center;
}

.friend-list-channel-box-parent img{
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.4rem 0.8rem;
    border-radius: 50%;
    margin: auto;
}

.friend-list-channel-box-parent .friend-list-channel-box-name{
    float: left;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.1rem;
    color: var(--text);
}


#the-real-pro-friend-icon{
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
    padding-right: 1rem;
}
#the-real-pro-friend-icon *{
    margin: auto 0;
}
.friend-list-header{
    margin: 1.5rem 0.5rem 1.5rem 0;
    display: flex;
    gap: 1rem;
    color: var(--text);
}
.friend-list-header .all-friends:hover{
    background-color: #6b697178;
    cursor: pointer;

}
.friend-list-header .pending-friends:hover{
    background-color: #6b697178;
    cursor: pointer;
}
.friend-list-header .all-friends:active{
    background-color: #7f7d8678;
    cursor: pointer;
}
.friend-list-header .pending-friends:active{
    background-color: #7f7d8678;
    cursor: pointer;
}
.friend-list-header .add-friends:hover{
    opacity: 0.9;
    color: var(--submit-button);
    background-color: #7f7d8678;
    cursor: pointer;
}
.friend-list-header div{
    padding: 0.2rem 0.5rem;
    display: grid;
    place-content: center;
    border-radius: 0.4rem;
}

.the-parent-of-something{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.friend-list-main-parent .accept-decline-friend-request{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 15rem;
    height: 100%;
    place-content: center;
    margin-left: auto;
}
.friend-list-main-parent .accept-decline-friend-request .accept{
    height: 2rem;
    width: 7rem;
    background-color: var(--background2);
    color: var(--text);
    display: grid;
    place-content: center;
    border-radius: 0.4rem;
    opacity: 0.8;
}
.friend-list-main-parent .accept-decline-friend-request .accept:hover{
    background: var(--background2);
    color: var(--submit-button);
    opacity: 0.85;
}
.friend-list-main-parent .accept-decline-friend-request .accept:active{
    background: var(--background2);
    color: var(--submit-button);
    opacity: 0.95;
}

.friend-list-main-parent .accept-decline-friend-request .decline{
    height: 2rem;
    width: 7rem;
    background-color: var(--background2);
    color: var(--text);
    display: grid;
    place-content: center;
    border-radius: 0.4rem;
    opacity: 0.8;
}
.friend-list-main-parent .accept-decline-friend-request .decline:hover{
    background: var(--background2);
    color: var(--logout);
    opacity: 0.85;
}
.friend-list-main-parent .accept-decline-friend-request .decline:active{
    background: var(--background2);
    opacity: 0.95;
}
.friend-list-main-parent .cancel-friend-request{
    display: grid;
    width: 7.5rem;
    height: 100%;
    place-content: center;
    margin-left: auto;
}
.friend-list-main-parent .cancel-friend-request div{
    height: 2rem;
    width: 7rem;
    background-color: var(--background2);
    color: var(--text);
    display: grid;
    place-content: center;
    border-radius: 0.4rem;
    opacity: 0.8;
}
.friend-list-main-parent .cancel-friend-request div:hover{
    background: var(--background2);
    color: var(--logout);
    opacity: 0.85;
}
.friend-list-main-parent .cancel-friend-request div:active{
    background: var(--background2);
    opacity: 0.95;
}

.add-friends-tab-for-user{
    background: var(--background3);
    display: grid;
    grid-template-columns: 1fr auto;
    border-radius: 0.4rem;
    border: 0.1rem solid var(--background4);
}
.add-friends-tab-for-user input{
    background: none;
    color: var(--text);
    border: none;
    font-size: 1.1rem;
    padding: 0.8rem 1rem;
}
.add-friends-tab-for-user button{
    width: fit-content;
    padding: 0.2rem 0.5rem;
    margin: auto 1rem;
    height: fit-content;
    font-size: 1.1rem;
    background: var(--submit-button);
    color: var(--text);
    border: none;
    border-radius: 0.2rem;
    opacity: 0.9;
}
.add-friends-tab-for-user button:hover{
    cursor: pointer;
}
.add-friends-tab-for-user button:active{
    opacity: 1;
}
.winner-winner-message{
    margin-top: 0.3rem;
    color: var(--submit-button);
}
.awe-man-you-failed-request-cags2{
    margin-top: 0.3rem;
    color: var(--logout);
}
.incomeOutFriendRequest{
    color: var(--text);
    opacity: 0.7;
    font-size: 0.9rem;
}
.the-income-out-parent{
    display: grid;
    grid-template-rows: auto auto;
}
.better-width-pro-parent{
    width: 100% !important;
}
.more-options-svg{
    width: 2.5rem;
    height: fit-content;
    fill: none;
    padding: 0.1rem;
    display: grid;
    gap: 1rem;
}
.friend-list-main-parent .more-options-svg:hover{
    fill: var(--text);
    opacity: 0.9;
}
.friend-list-main-parent .more-options-svg:active{
    fill: var(--text);
    opacity: 1;
}
.more-options-button-parent{
    margin: auto 1rem auto auto;
    
}
.more-options-button-parent .more-options-message{
    font-size: 0.9rem;
    padding: 0.3rem 0.6rem;
    border-radius: 0.2rem;
    white-space: nowrap;
}
.more-options-message:after {
    content: '';
    position: absolute;
    bottom: -0.4rem;
    left: 50%;
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    border-top: 0.4rem solid var(--background4);
    transform: translateX(-50%);
}



.the-friend-options-parent{
    white-space: nowrap;
    background-color: var(--background);
    padding: 0.5rem;
    border-radius: 0.4rem;
    color: var(--text);
}
.friend-options-list-parent{
    width: fit-content;
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-content: center;
    gap: 0.18rem;
}
.friend-options-list-parent li{
    text-align: center;
    padding: 0.4rem 0.8rem;
    border-radius: 0.2rem;
    
}

.friend-options-list-parent:after {
    content: '';
    position: absolute;
    top: 0; 
    right: -0.4rem; 
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-left: 0.5rem solid var(--background);
    transform: translateY(0.8rem); 
}

.friend-options-spy-call{
    color: var(--text);
    opacity: 0.8;
}
.friend-options-spy-call:hover{
    color: var(--text);
    opacity: 1;
    filter: brightness(120%);
    background-color: var(--accent);
}
.friend-options-spy-call:active{
    color: var(--text);
    opacity: 1;
    filter: brightness(100%);
    background-color: var(--accent);
}

.friend-options-remove{
    color: var(--logout);
}
.friend-options-remove:hover{
    background-color: var(--logout);
    color: var(--text);
    filter: brightness(120%);
}
.friend-options-remove:active{
    background-color: var(--logout);
    color: var(--text);
    filter: brightness(95%);
}
#friend-user-summary-box-parent{
    background-color: var(--background2);
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-areas: 
    "h h h"
    "a b c"
    ;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem;
    border: var(--background) 0.2rem solid;
    border-radius: 1rem;
    position: absolute;
    top: 0; /*Apparantly supposed to be centered like this */
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
#friend-user-summary-box-parent::backdrop{
    background-color: rgba(64, 69, 78, 0.336);
}
#friend-user-summary-general-info{
    grid-area: a;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 1rem;
}
#friend-user-summary-box-parent .names{
    color: var(--text);
    font-size: 1.2rem;
}
#friend-user-summary-box-parent .names .starters{
    color: var(--submit-button);
    text-align: center;
}
#friend-user-summary-box-parent .friend-dialog-tab{
    grid-area: b;
    margin-left: 1rem;
    background-color: var(--background4);
    display: grid;
    grid-template-rows: auto 1fr;
    place-content: center;
    border-radius: 0.5rem;
    height: fit-content;
    width: fit-content;
    padding: 1.2rem;
    padding-top: 0;
}
#friend-user-summary-box-parent .friend-dialog-tab-area-c{
    grid-area: c !important;
}
#friend-user-summary-box-parent .friend-dialog-tab .friend-names-parent{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    justify-content: flex-start;
    height: 8rem;
    overflow: auto;
    background-color: var(--background4b);
    border-radius: 0.5rem;
}
#friend-user-summary-box-parent .friend-dialog-tab .starters{
    color: var(--text);
    margin: 1rem;
}
#friend-user-summary-box-parent .friend-dialog-tab .friend-names{
    color: var(--primary);
    font-size: 1.2rem;
}
#friend-user-summary-box-parent .friend-dialog-tab .friend-names-header{
    color: var(--text);
    font-size: 1.1rem;
    margin: 0 1rem;
}
#friend-user-summary-box-parent .exit-settings-screen{
    grid-area: h;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    border: 0.15rem var(--text) solid;
    display: grid;
    place-content: center;
    right: -1.5rem;
    top: -1.5rem;
    position: absolute;
}
#friend-user-summary-box-parent .exit-settings-screen:hover{
    filter: brightness(1.2);
    cursor: pointer;
}
#friend-user-summary-box-parent .exit-settings-screen:active{
    filter: brightness(1.1);
    cursor: pointer;
}
#friend-user-summary-box-parent .exit-settings-screen svg{
    width: 0.65rem;
    height: 0.65rem;
    fill: var(--text);
    margin: 1rem;
}
.friend-list-channel-box-name .actual-username{
    display: block;
    font-size: 0.75rem;
    color: var(--text);
    filter: opacity(0.8);
}
#mm-friends-pre{
    font-style: italic;
}