.direct-channels-parent-cags2{
    width: 14rem;
    background: var(--background2);
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    place-content: center;
    height: 100vh;
}
.add-direct-message-group{
    display: grid;
    grid-template-columns: auto 1fr;
    width: 13rem;
    padding: 0.4rem 0.0rem;
    margin: 0.2rem auto;
}
.direct-message-pro-very{
    width: 13rem;
    margin: 0 auto;
}
.user-title{
    float: left;
    color: var(--text);
}
.create-group{
    border: none;
    background: none;
    font-size: 1rem;
    fill: var(--text);
    border-radius: 0.2rem;
    height: 1rem;
    border-radius: 50%;
}
.parent-header-add-dm{
    margin: auto;
    margin-right: 0rem;
    white-space: nowrap;
}
.create-group{
    filter: brightness(0.8);
}
.create-group{
    cursor: pointer;
    filter: brightness(1);
}
.addition-title-dm-option{
    background-color: var(--background4) !important;
    color: var(--text) !important;
    font-size: 0.9rem;
    padding: 0.3rem 0.6rem;
    border-radius: 0.2rem;
    white-space: nowrap;
    margin-bottom: 0.5rem;
}
.friends-page-render-button{
    display: flex;
    justify-content: start;
    width: 13rem;
    padding: 0.7rem 0;
    border-radius: 0.4rem;
    margin: 1rem auto;
}
.addition-title-dm-option:after {
    content: '';
    position: absolute;
    bottom: -0.4rem;
    left: 50%;
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    border-top: 0.4rem solid var(--background4);
    transform: translateX(-50%);
}
.friends-page-render-button div{
    color: var(--text);
    font-size: 1.15rem;
}
.svg-icon-pro{
    color: var(--text);
    font-size: 1.3rem;
    padding: 0 0.8rem;
}
.friend-list-header{
    display: flex;
    color: var(--text);
}

.group-message-dialog-box{
    z-index: 2;
    border-radius: 0.4rem;
    border: none;
    background: var(--background4);
    box-shadow: 0 0 0.2rem 0.1rem var(--background);
    filter: brightness(1.1);
    padding: 1rem; 
    margin-top: 1.5rem;
    margin-left: 12rem;
    position: absolute;
}
.group-dialog-model-header{
    margin: 0;
    color: var(--text);
    margin: 0 0.5rem;
}
.group-dialog-model-header-2{
    margin: 0;
    color: var(--text);
    opacity: 0.7;
    font-size: 1rem;
    padding: 0.3rem 0;
    margin: 0 0.5rem;
}


.checkbox-group-item-parent{
    color: var(--text);
    font-size: 1.15rem;
    display: grid;
    grid-template-columns: auto 1fr;
    height: 2rem;
    place-content: center;
    padding: 0 0.5rem;
    user-select: none;
    margin-top: 0.2rem;
    border-radius: 0.3rem;
}
.checkbox-group-item-parent:hover{
    border-radius: 0.3rem;
    background-color: var(--parent-hover);
    cursor: pointer;
}
.checkbox-group-item-parent:active{
    border-radius: 0.3rem;
    background-color: var(--parent-active);
    cursor: pointer;
}

.parentForDialogGroupClicked{
    background-color: var(--parent-clicked) !important;
}
.each-group-item-checkbox-label{
    margin: auto 0;
    user-select: none;
    cursor: pointer;
}
.each-group-item-checkbox{
    margin: auto 0;
    margin-left: auto;
    width: 1.15rem;
    height: 1.15rem;
    user-select: none;
}
.each-group-item-checkbox:hover{
    cursor: pointer;
    border: 0.1rem var(--secondary) solid;
}
.create-group-channel-dialog{
    margin: auto;
    width: 100%;
    padding: 0.3rem 0;
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 650;
    color: var(--text);
    background-color: var(--submit-button);
    border: none;
    border-radius: 0.3rem;
}
.create-group-channel-dialog:hover{
    cursor: pointer;
    filter: brightness(1.1);
}
.create-group-channel-dialog:active{
    cursor: pointer;
    filter: brightness(1.05);
}
.modal-content-dialog-group-channel{
    display: grid;
}

.groupMessageCreate-enter {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 300ms, transform 300ms;
  }
  
  .groupMessageCreate-enter-active {
    opacity: 1;
    transform: scale(1);
  }

  .direct-channel-box-parent{
    display: grid;
    grid-template-columns: auto 1fr;
    width: fit-content;
    place-content: center;
    border-radius: 0.4rem;
    margin-right: auto;
    margin-left: 0.5rem;
}

.direct-channel-box-parent img{
    width: 2.2rem;
    height: 2.2rem;
    margin: 0.4rem 0;
    border-radius: 50%;
    margin: auto;
}

.direct-channel-box-parent .direct-channel-box-name{
    float: left;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.1rem;
    color: var(--text);
    margin-left: 0.8rem;
}



.user-settings-svg-parent{
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: center;
    padding: 0.5rem 0;
    background-color: var(--background2b);
    width: 14rem;
    height: 2.5rem;
}
.user-settings-svg-icon{
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--text);
  margin: auto 0.5rem;
  padding: 0.3rem;
  border-radius: 0.4rem;
}

.direct-message-parent-pro-very{
    margin: 0 auto;
}