#loginPageParent{
    height: 100vh;
    display: grid;
    place-content: center;
}
#loginContainer{
    background: var(--background2b);
    display: grid;
    margin: auto;
    width: 24rem;
    height: 20rem;
    place-content: center;
    grid-template-rows: 10fr 3.5rem 3.5rem 3.5rem 6fr;
    border-radius: 0.5rem;
}
#loginContainer .inputs{
    padding: 0.35rem 0rem 0.35rem 0.35rem;
    border: 0.15rem var(--text) solid;
    background: transparent;
    color: var(--text);
    filter: brightness(85%);
}
#loginContainer .inputs:focus{
    filter: brightness(100%);
}
#loginContainer .inputs:focus{
    border: 0.15rem var(--text) solid;
}
#loginContainer .box{
    height: fit-content;
    font-size: 1.15rem;
    margin-top: auto;
    border-radius: 0.2rem;
    outline: none;
}
#loginButton{
    padding: 0.5rem 0;
    width: 20rem;
    border: none;
    background-color: rgb(0, 176, 111);
    color: var(--text);
    font-weight: 600;
}
#loginButton:hover, #loginButton:focus{
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(0, 165, 104);
}
#loginButton:active{
    padding: 0.5rem 0 0.5rem 0;
    background-color: rgb(0, 175, 111);
}
#checkRequest{
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-top: 0.4rem;
}
#checkRequest .errorText{
    opacity: 1;
    color: rgb(255, 0, 0);
    margin: auto 0;
    font-size: 0.8rem;
    font-weight: bold;
}
#loginContainer .loginText{
    font-size: 2.4rem;
    font-weight: 500;
    margin: auto auto 1.2rem auto;
    color: var(--text);
}
#loginContainer .dhaa{
    font-size: 0.8rem;
    margin-top: 0.8rem;
    text-align: center;
    color: var(--text);
}