.direct-channel-box-parent{
    display: grid;
    grid-template-columns: auto 1fr;
    width: 13rem;
    place-content: center;
    background-color: var(--background4);
    border-radius: 0.4rem;
}

.direct-channel-box-parent img{
    width: 2rem;
    height: 2rem;
    padding: 0.4rem 0.8rem;
    border-radius: 50%;
    margin: auto;
}

.direct-channel-box-parent .direct-channel-box-name{
    float: left;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1rem;
    color: var(--text);
    max-width: 8rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.direct-channel-box-parent .direct-channel-box-name .actual-username{
    display: block;
    font-size: 0.75rem;
    color: var(--text);
    filter: opacity(0.8);
}