#the-actual-fr-message-parent-fr{
    display: flex;
    width: 100%;
    height: fit-content;
}
#the-actual-fr-message-parent{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 0;
    overflow-y: auto;
}

.triangle-right-up {
    width: 0;
    height: 0;
    border-top: 0.2rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-left: 1rem solid var(--secondary);
    margin: auto 0;
}
.actual-message-user-message-sent{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
}
.the-actual-message-parent-place{
    width: 75%;
    margin-left: auto;
}
.the-actual-message-parent-place .the-message-body{
    width: fit-content;
    background-color: var(--secondary);
    border-radius: 0.2rem;
    line-height: 1.5;
    padding: 0.4rem 1.2rem;
    color: var(--text);
    float: right;
    word-wrap: anywhere;
    white-space: pre-wrap;
}





.triangle-right-up-other {
    width: 0;
    height: 0;
    border-top: 0.2rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    color: var(--text);
    border-right: 1rem solid var(--background4);
    margin-top: 0.5rem;
}
.actual-message-user-message-sent-other{
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
}
.the-actual-message-parent-place-server-other{
    width: fit-content;
    color: var(--text);
    background: var(--background4);
    margin-right: auto;
    border-radius: 0.2rem;
}
.the-actual-message-parent-place-server-other .the-message-body{
    width: fit-content;
    color: var(--text);
    border-radius: 0.2rem;
    line-height: 1.5;
    padding: 0.4rem 1.2rem;
    word-wrap: anywhere;
    white-space: pre-wrap;
}
.what-is-this-parent-lol-hi-uwu{
    display: grid;
    grid-template-rows: auto auto;
}


.very-pro-image-lol{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-left: 1rem;
    grid-area: pfp;
}
.very-pro-sender-message{
    margin: auto;
    margin-left: 1rem;
    font-size: 1.1rem;
    color: var(--text);
    margin-bottom: 0.1rem;
}
.the-parent-amongst-parents-into-the-wild{
    display: grid;
    grid-template-rows: auto auto;
    width: 75%;
}
.the-actual-message-parent-place .the-message-body a{
    color: var(--primary);
}
.the-actual-message-parent-place .the-message-body a:hover{
    color: var(--primary);
    filter: brightness(115%);
}