:root{
    --global-sign-up-font-size: 1.15rem;
}
#SignUpParent{
    height: 100vh;
    display: grid;
}
#signUpPageContainer{
    background: var(--background);
    display: grid;
    margin: auto;
    width: 32rem;
    height: 34rem;
    place-content: center;
    grid-template-rows: auto repeat(6,1fr);
    border-radius: 0.5rem;
    padding: 2rem 0;
}
#signUpPageContainer .signUpText{
    font-size: 1.5em;
    font-weight: 500;
    margin: auto auto 1.5rem auto;
    font-weight: 600;
    color: var(--text);
}
#signUpPageContainer .inputParent{
    display: grid;
    height: 3.5rem;
}
#signUpPageContainer .inputLabel{
    font-size: calc(var(--global-sign-up-font-size)-0.15rem);
    color: var(--text);
    margin-bottom: auto;
    font-weight: 600;
}
#signUpPageContainer .input{
    font-size: var(--global-sign-up-font-size);
    padding: 0.3rem 0 0.3rem 0.5rem;
    width: 25rem;
    height: fit-content;
    margin-top: auto;
    border: 0.15rem var(--text) solid;
    color: var(--text);
    border-radius: 0.15rem;
    background: transparent;
    filter: brightness(85%);
}
#signUpPageContainer .input:hover{
    border: 0.15rem var(--text) solid;
    color: var(--text);
}
#signUpPageContainer .input:focus{
    border: 0.15rem var(--text) solid;
    color: var(--text);
    filter: brightness(100%);
}
#signUpPageContainer .genderParent{
    display: grid;
    grid-template-areas: 
    "h h"
    "a a"
    ;
    height: fit-content;
}
#femaleImg, #maleImg{
    fill: var(--text);
    width: 2rem;
    height: 2rem;
}
.femaleImgParent, .maleImgParent{
    border: 0.15rem var(--text) solid;
    height: 3rem;
    display: grid;
    place-content: center;
}
.femaleImgParent{
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.maleImgParent{
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.maleImgParentOn{
    border: 0.15rem rgb(58, 74, 255) solid;
    height: 3rem;
    display: grid;
    place-content: center;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
#maleImgOn{
    border: 0.15rem rgb(58, 74, 255) solid;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    fill: rgb(58, 74, 255);
    width: 2rem;
    height: 2rem;
    margin: auto;
}

.femaleImgParentOn{
    border: 0.15rem rgb(255, 91, 255) solid;
    height: 3rem;
    display: grid;
    place-content: center;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
#femaleImgOn{
    border: 0.15rem rgb(255, 91, 255) solid;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    fill: rgb(255, 91, 255);
    width: 2rem;
    height: 2rem;
    margin: auto;
}
.chooseGender{
    grid-area: h;
    font-weight: 600;
    color: var(--text);
}
#SignUpParent .genderParent div:hover{
    cursor: pointer;
}
#SignUpParent .genderParent div:active{
    cursor: pointer;
}
.chooseGenderMain{
    grid-area: a;
    display: grid;
    grid-template-columns: 50% 50%;
}
#SignUpParent .theSignUpButton{
    padding: 0.5rem 0;
    border: none;
    background-color: rgb(0, 176, 111);
    color: var(--text);
    font-weight: 600;
    border-radius: 0.3rem;
    font-size: var(--global-sign-up-font-size);
    margin-bottom: auto;
    margin-top: 0.2rem;
}
#month-select, #day-select, #year-select{
    background-color: transparent;
    font-size: var(--global-sign-up-font-size);
    padding: 0.3rem 0 0.3rem 0.5rem;
    height: fit-content;
    margin-top: auto;
    border: 0.15rem var(--text) solid;
    color: var(--text);
    background: transparent;
    filter: brightness(85%);
}
#month-select:focus, #day-select:focus, #year-select:focus{
    filter: brightness(100%);
}
#month-select option, #day-select option, #year-select option{
    background-color: var(--background3);
}
#month-select{
    border-top-left-radius: 0.15rem;
    border-bottom-left-radius: 0.15rem;
}
#year-select{
    border-top-right-radius: 0.15rem;
    border-bottom-right-radius: 0.15rem;
}
#signUpPageContainer .age{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 25.5rem;
    height: fit-content;
    margin: auto;
}
#the-sign-up-error-message{
    font-size: 1rem;
    color: var(--logout);
    margin-top: 0.5rem;
    height: 1rem;
}