body{
    padding: 0;
    margin: 0;
    background-color: #313338;
}
*{
    font-family: HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    outline: none;
}
p{
    padding: 0;
    margin: 0;
}