body{
    padding: 0;
    margin: 0;
    background-color: var(--background3);
    overflow: auto;
}
*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    outline: none;
}
:root{
    --text: #c8ced4;
    --background: #090c0f;
    --background2: #222629;
    --background2b: #15181a;
    --background3: #2c2f33;
    --background4a: #2d3135;
    --background4: #3a4146;
    --background4b: #596166;
    --primary: #8fbce0;
    --secondary: #3c4162;
    --accent: #3176af;
    --logout: red;
    --submit-button: #03b171;
    --parent-hover: #6b697178;
    --parent-active: #7f7d8678;
    --parent-clicked: #98979e78;
}
p{
    padding: 0;
    margin: 0;
}

/* for the short title popup thing */
.allow-for-title-header {
    position: absolute;
    bottom: 100%;
    left: 50%; 
    transform: translateX(-50%); 
    visibility: hidden; 
    opacity: 0;
    z-index: 1000; 
    transition: 0.1s;
    color: var(--text);
    background-color: var(--background4);
  }
  .allow-for-title-header-parent{
    position: relative; 
    display: inline-block;
  }
  .allow-for-title-header-parent:hover .allow-for-title-header {
    visibility: visible; 
    opacity: 1;
  }